In [0]:
!pip install torch===1.4.0 torchvision===0.5.0 -f https://download.pytorch.org/whl/torch_stable.html

In [0]:
!pip install dgl-cu101

In [0]:
!pip install rdflib==4.2.2

In [0]:
import csv
import pandas as pd
import networkx as nx
import matplotlib.pyplot as plt

In [3]:
import torch
print(torch.__version__)
print(torch.cuda.is_available())
torch.cuda.get_device_name(0)

1.4.0
True

'Tesla P4'

In [0]:
G = nx.Graph()

### Reading the MUTAG Dataset from My Github Repository.

In [0]:
Mutag_edges_url = 'https://raw.githubusercontent.com/Rezaprh/MUTAG/master/Mutag.edges'
Mutag_graph_idx_url = 'https://raw.githubusercontent.com/Rezaprh/MUTAG/master/Mutag.graph_idx'
Mutag_graph_labels_url = 'https://raw.githubusercontent.com/Rezaprh/MUTAG/master/Mutag.graph_labels'
Mutag_link_labels_url = 'https://raw.githubusercontent.com/Rezaprh/MUTAG/master/Mutag.link_labels'
Mutag_node_labels_url = 'https://raw.githubusercontent.com/Rezaprh/MUTAG/master/Mutag.node_labels'

In [0]:
edges = pd.read_csv(Mutag_edges_url)
graph_idx = pd.read_csv(Mutag_graph_idx_url)
graph_labels = pd.read_csv(Mutag_graph_labels_url)
link_labels = pd.read_csv(Mutag_link_labels_url)
node_labels = pd.read_csv(Mutag_node_labels_url)

In [6]:
for row in f1:
g.add_nodes_from(row)

               1  1.1
0            2.0    1
1            3.0    1
2            4.0    1
3            5.0    2
4            6.0    3
...          ...  ...
131482  131480.0    4
131483  131480.0    4
131484  131490.0    4
131485  131490.0    4
131486  131490.0    4

[131487 rows x 2 columns]